{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container text-white box mt-3">
    <h1>Hello I am Eko</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi adipisci voluptates repellendus optio possimus saepe nihil ab aliquam modi odio cum quisquam, at ducimus? Quisquam ad impedit delectus tempore obcaecati.</p>

    <div class="d-flex justify-content-center box-inset p-0 ms-3 me-3">
        {% if tags %}
            {% for tag in tags%}
                {% include 'home/tags.html' %}
            {% endfor %}
        {% else %}
            Tag list of the langauges i know
        {% endif %}
    </div>

    <div class="container">
        <div class="row g-4">
            <!-- The Django Project -->
            <div class="col-md-4">
                <div class="box-inset h-100">
                    <img src="{% static '/img/example/example.png'%}" class="card-img-top img-fluid" alt="Project 1">
                        <p>The Django project</p>
                </div>
            </div>
            
            <!-- Python chat -->
            <div class="col-md-4">
                <div class="box-inset h-100">
                    <img src="{% static '/img/example/example.png'%}" class="card-img-top img-fluid" alt="Project 2">
                        <p>Python chat</p>
                </div>
            </div>
            
            <!--  Sand Sim -->
            <div class="col-md-4">
                <div class="box-inset h-100">
                    <img src="{% static '/img/example/example.png'%}" class="card-img-top img-fluid" alt="Project 3">
                        <p>Sand Simulation</p>
                </div>
            </div>
        </div>
    </div>

    {% if images %}
        <div class="d-flex justify-content-center">
            {% for image in images %}

                Image wall here
                <img src="{% static '/img/img_wall/{image}' %}" alt="img-wall">
                 
            {% endfor %}
        </div>
    {% endif %}

    

    <footer class="mt-3">
        <div class="d-flex justify-content-between">

            <div class="mt-3">
                <small>MIT - License</small>
                <small>Copyright (c) 2026 Eko</small>
            </div>

            <img class="ms-auto" style="max-width: 50px;" src="{% static '/img/brands/GitHub_Invertocat_White_Clearspace.svg'%}" alt="Github Icon">
        </div>
    </footer>

</div>
{% endblock %}