<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eko</title>
</head>
<body>
    <h1>Hello I am Eko</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi adipisci voluptates repellendus optio possimus saepe nihil ab aliquam modi odio cum quisquam, at ducimus? Quisquam ad impedit delectus tempore obcaecati.</p>

    <div>
        Some images to display projects
    </div>
    
    <div>
        Another image here
    </div>

    <small>More projects</small>

    <div>
        Tag list of the langauges i know
    </div>

</body>
</html>