{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container text-white box">
    <h1>Hello I am Eko</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi adipisci voluptates repellendus optio possimus saepe nihil ab aliquam modi odio cum quisquam, at ducimus? Quisquam ad impedit delectus tempore obcaecati.</p>

    <div class="d-flex justify-content-center">
        <div class="">
            {% if tags %}
                {% for tag in tags%}
                    {% include 'home/tags.html' %}
                {% endfor %}
            {% else %}
                Tag list of the langauges i know
            {% endif %}
        </div>
    </div>

    <div class="d-flex">
        <div>
            Some images to display projects
        </div>
        
        <div>
            Some images to display projects
        </div>
        
        <div>
            Some images to display projects
        </div>
    </div>

    {% if images %}
        <div class="">
            {% for image in images %}

                Image wall here
                <img src="example" alt="">
                
            {% endfor %}
        </div>
    {% endif %}

    <small>More projects</small>


</div>
{% endblock %}