*{
    font-family: 'Quicksand' !important;
    font-weight: 600 !important;
}


body{
    background-color:#5a563d !important;
    /* background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;  */
}

.header-gradient{
    background: linear-gradient(#0000005c, #00000000);
}

.text-white{
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.box-inset,
.box{
    padding: 0.5rem;
    margin: 0.2rem;
}

.box{
    background-color: #757155;
    
    border-top:  2px solid #a19f8a;
    border-left:  2px  solid #a19f8a;

    border-bottom:  2px  solid #676751;
    border-right:  2px  solid #676751;
}

.box-inset{
    background-color: #656148;
    
    border-bottom:  2px solid #81806f;
    border-right:  2px  solid #81806f;

    border-top:  2px  solid #676751;
    border-left:  2px  solid #676751;
}

.img-home-projects{
    display: block;
    object-fit: cover !important;
    max-height: 200px;
}

/*  dark purple theme
    background-color: rgb(72, 69, 95);
    
    border-top:  2px solid rgb(120, 117, 140);
    border-left:  2px  solid rgb(120, 117, 140);

    border-bottom:  2px  solid rgb(27, 24, 44);
    border-right:  2px  solid rgb(27, 24, 44);

    -------------------------------------------------
    desert yellow theme
    background-color: #e2de84;
    
    border-top:  2px solid #ecfeaa;
    border-left:  2px  solid #ecfeaa;

    border-bottom:  2px  solid #a6a670;
    border-right:  2px  solid #a6a670;
    ------------------------------------------------
    desert yellow theme 2
    background-color: #a59e63;
    
    border-top:  2px solid #fefaaa;
    border-left:  2px  solid #fefaaa;

    border-bottom:  2px  solid #8f8f5d;
    border-right:  2px  solid #8f8f5d;
    ------------------------------------------------
    Gray theme
    background-color: #757155;
    
    border-top:  2px solid #a19f8a;
    border-left:  2px  solid #a19f8a;

    border-bottom:  2px  solid #676751;
    border-right:  2px  solid #676751;
     */

.btn-primary{
    background-color: black;
}

.btn{
    background-color: rgb(44, 44, 44);
}

.tags{
    /* event tags */
    background-color: red;
}

.shadow-text{
    text-shadow: 3px 3px 3px black;
}

.shadow-box{
    box-shadow: 3px 3px 3px black;
}