*{
    font-family: 'Quicksand' !important;
    font-weight: 600 !important;
}

body{
    /* background-color:#5a563d !important; */
    /* background-image: var(--bg-image); */
    background-size: cover;
    background-repeat: no-repeat; 
    background: var(--bg-color) !important;
}

.header-gradient{
    background: linear-gradient(#0000005c, #00000000);
}

.text-white{
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.text-fadded{
    color: rgb(215, 215, 215);
}

input::placeholder {
  color: rgb(215, 215, 215) !important;
}

html[data-theme="steam-old"] .box-button,
html[data-theme="steam-old"] .box{
    background-color: #757155;
    
    border-top:  2px solid #a19f8a;
    border-left:  2px  solid #a19f8a;

    border-bottom:  2px  solid #676751;
    border-right:  2px  solid #676751;
}
html[data-theme="default"] .box{
    background-color: rgb(49, 49, 49);
    
    border-top:  2px solid rgb(237, 213, 127);
    border-left:  2px  solid rgb(203, 182, 103);

    border-bottom:  2px  solid rgb(151, 130, 54);
    border-right:  2px  solid rgb(127, 108, 40);
}

.btn-primary:hover,
.btn-primary{
    border-radius: 0 !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.form-control:hover,
.form-control{
    border-radius: 0 !important;
}

html[data-theme="steam-old"] .btn-primary,
html[data-theme="steam-old"] .box-button{
    background-color: #9b9670 !important ;
    border-top:  2px solid #c6c3aa !important;
    border-left:  2px  solid #c6c3aa !important;
}

html[data-theme="steam-old"] .btn-primary:hover,
html[data-theme="steam-old"] .box-button:hover{
    background-color: #807b59 !important;
    
    border-bottom:  2px solid #81806f !important;
    border-right:  2px  solid #81806f !important;

    border-top:  2px  solid #676751 !important;
    border-left:  2px  solid #676751 !important;
}

html[data-theme="steam-old"] .form-control,
html[data-theme="steam-old"] .box-inset{
    background-color: #656148 !important;
    
    border-bottom:  2px solid #81806f !important;
    border-right:  2px  solid #81806f !important;

    border-top:  2px  solid #676751 !important;
    border-left:  2px  solid #676751 !important;
}

.img-home-projects{
    display: block;
    object-fit: cover !important;
    max-height: 200px;
}

.btn-primary{
    background-color: black;
}

.btn{
    background-color: rgb(44, 44, 44);
}

.shadow-text{
    text-shadow: 3px 3px 3px black;
}

.shadow-box{
    box-shadow: 3px 3px 3px black;
}