*{
    font-family: 'Quicksand' !important;
    font-weight: 600 !important;
}

body{
    /* background-color:#5a563d !important; */
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat; 
    /* background: var(--bg-color) !important; */
}   

.table{
    --bs-table-color: var(--text-color);
    --bs-table-bg: var(--bg-color);
    --bs-table-border-color: var(--bg-border-color);
}

.header-gradient{
    background: linear-gradient( var(--shadow-color-04), var(--transparent));
}

.text-white{
    text-shadow: 2px 2px 1px var(--shadow-color-08);
}

hr,
input::placeholder,
.text-fadded{
    color: var(--text-color-faded);
}

.dropdown-menu{
    background-color: transparent ;
}


.btn{
    background-color: var(--bg-color);
}

.dropdown-item,
.btn-primary,
textarea,
input,
.box-button,
.form-control,
.box{

    color: white;

    margin: 0.5rem;
    padding: 0.4rem;

    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    
    border-top:  2px solid var(--border-top-color);
    border-left:  2px solid var(--border-left-color);
    border-bottom:  2px solid  var(--border-bottom-color);
    border-right:  2px solid var(--border-right-color);

    border-radius: 0.2rem;

    box-shadow: 3px 3px 3px 2px var(--shadow-color-04);
}

.disablefilterblur{
    backdrop-filter: blur(0px);
}

.box-header{
    margin-top: 0.5rem;
    padding: 0.4rem;

    background-color: var(--bg-secondary-color);
    backdrop-filter: blur(10px);

    border-radius: 0.2rem 0.2rem 0rem 0rem;

    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);
}

.box-footer{
    margin-top: 0.5rem;
    padding: 0.4rem;

    background-color: var(--bg-color);
    backdrop-filter: blur(10px);

    border-radius: 0rem 0rem 0.2rem 0.2rem !important;

    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);
}

.form-control:hover {
    border-radius: 0.5rem !important;
}

.form-control,
.box-inset{
    color: white;
    padding: 1rem;
    background-color: var(--bg-third-color);
    backdrop-filter: blur(5px);

    /* Values here are flipped for inset */
    border-bottom:  2px solid var(--border-top-color);
    border-right:  2px solid var(--border-left-color);
    border-top:  2px solid var(--border-bottom-color);
    border-left:  2px solid var(--border-right-color);

    border-radius: 0.2rem !important;
}

.btn-primary{
    margin: 0.5rem;
    padding: 0.4rem;

    background-color: var(--button-primary-color); 
    backdrop-filter: blur(10px);
    
    border-top:  2px solid var(--border-top-color);
    border-left:  2px solid var(--border-left-color);
    border-bottom:  2px solid  var(--border-bottom-color);
    border-right:  2px solid var(--border-right-color);

    border-radius: 0.2rem !important;

    border-color: var(--button-border-color);

    box-shadow: 3px 3px 3px 2px var(--shadow-color-02);
}

.btn-primary:hover{
    border-color: var(--button-border-color-hover);

    background-color: var(--button-primary-color-hover); 
    box-shadow: 3px 3px 3px 2px var(--shadow-color-04);
}

.img-home-projects{
    display: block;
    object-fit: cover !important;
    max-height: 200px;
}

.shadow-text{
    text-shadow: 3px 3px 3px black;
}

.shadow-box{
    box-shadow: 3px 3px 3px black;
}