/* Default theme (base) */
:root {
    --bg-image: url("/static/img/wallpapers/nature_china.jpg");  

    --bg-color: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    --bg-secondary-color: rgba(230, 230, 230, 0.3);
    --bg-border-color: rgb(200, 200, 200);
    --text-color: rgb(255, 255, 255);
    --text-color-faded: rgba(245, 245, 245, 0.5);

    --shadow-color-08: rgba(0, 0, 0, 0.8);
    --shadow-color-04: rgba(0, 0, 0, 0.4);
    --shadow-color-02: rgba(0, 0, 0, 0.2);

    --transparent: rgba(0, 0, 0, 0);

    --button-disabled: #8a8a8a;
    --button-disabled-hover: #7c7c7c;
    --button-disabled-active: #505050;

    --button-border-color: rgb(180, 180, 180);
    --button-border-color-hover: rgb(200, 200, 200);

    --button-primary-color-hover: rgb(255, 255, 255);
    --button-primary-color: rgb(245, 245, 245);

    --navbar-gradient: linear-gradient(rgba(45, 45, 45, 0.6) 80%, #ffffff00 90%);
    --paginator-gradient: linear-gradient(#ffffff00, #ffffff);

    --bg-txtbox-color: rgb(245, 245, 245);
    --txtbox-border-color: rgb(220, 220, 220);
    --bg-txtbox-color-focused: rgb(255, 255, 255);
    --txtbox-border-color-focused: rgb(240, 240, 240);
}

/* Dark theme */
:root[data-theme="dark"]{
    --bg-image: url("/static/img/wallpapers/nature_china.jpg");  
    
    --bg-color: rgb(45, 45, 45);
    --bg-secondary-color: rgba(75, 75, 75, 0.3);
    --bg-border-color: rgb(75, 75, 75);
    --text-color: rgb(255, 255, 255);
    --text-color-faded: rgba(255, 255, 255, 0.5);
    
    --shadow-color-04: rgb(0, 0, 0);
    --shadow-color-02: rgba(0, 0, 0, 0.5);

    --transparent: rgba(0, 0, 0, 0);

    --button-disabled: #4a4a4a;
    --button-disabled-hover: #5a5a5a;
    --button-disabled-active: #707070;
    
    --button-border-color: rgb(80, 80, 80);
    --button-border-color-hover: rgb(100, 100, 100);
    
    --button-primary-color: rgb(45, 45, 45);
    --button-primary-color-hover: rgb(70, 70, 70);

    --navbar-gradient: linear-gradient(rgba(45, 45, 45, 0.6) 80%, rgba(0, 0, 0, 0) 90%);
    --paginator-gradient: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

    --bg-txtbox-color: rgb(45, 45, 45);
    --txtbox-border-color: rgb(70, 70, 70);
    --bg-txtbox-color-focused: rgb(60, 60, 60);
    --txtbox-border-color-focused: rgb(80, 80, 80);
}

/* Steam old theme */
:root[data-theme="steam-old"]{
    --bg-image: url("/static/img/wallpapers/nature_china.jpg");  

    --bg-color: rgb(75, 74, 65);
    --bg-secondary-color: rgba(75, 75, 75, 0.3);
    --bg-border-color: #919083;
    --text-color: rgb(255, 255, 255);
    --text-color-faded: rgba(255, 255, 255, 0.5);
    
    --shadow-color-04: rgb(0, 0, 0);
    --shadow-color-02: rgba(0, 0, 0, 0.5);

    --transparent: rgba(0, 0, 0, 0);

    --button-disabled: #4a4a4a;
    --button-disabled-hover: #5a5a5a;
    --button-disabled-active: #707070;
    
    --button-border-color: rgb(80, 80, 80);
    --button-border-color-hover: rgb(100, 100, 100);
    
    --button-primary-color: rgb(45, 45, 45);
    --button-primary-color-hover: rgb(70, 70, 70);

    --navbar-gradient: linear-gradient(rgba(45, 45, 45, 0.6) 80%, rgba(0, 0, 0, 0) 90%);
    --paginator-gradient: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

    --bg-txtbox-color: rgb(45, 45, 45);
    --txtbox-border-color: rgb(70, 70, 70);
    --bg-txtbox-color-focused: rgb(60, 60, 60);
    --txtbox-border-color-focused: rgb(80, 80, 80);
}

/* Frutiger Aero theme */
:root[data-theme="frutiger-aero"]{
    --bg-image: url("/static/img/wallpapers/nature_china.jpg");  

    --bg-color: rgb(88, 128, 141);
    --bg-secondary-color: rgba(75, 75, 75, 0.3);
    --bg-border-color: rgb(75, 75, 75);
    --text-color: rgb(255, 255, 255);
    --text-color-faded: rgba(255, 255, 255, 0.5);
    
    --shadow-color-04: rgb(0, 0, 0);
    --shadow-color-02: rgba(0, 0, 0, 0.5);

    --transparent: rgba(0, 0, 0, 0);

    --button-disabled: #4a4a4a;
    --button-disabled-hover: #5a5a5a;
    --button-disabled-active: #707070;
    
    --button-border-color: rgb(80, 80, 80);
    --button-border-color-hover: rgb(100, 100, 100);
    
    --button-primary-color: rgb(45, 45, 45);
    --button-primary-color-hover: rgb(70, 70, 70);

    --navbar-gradient: linear-gradient(rgba(45, 45, 45, 0.6) 80%, rgba(0, 0, 0, 0) 90%);
    --paginator-gradient: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

    --bg-txtbox-color: rgb(45, 45, 45);
    --txtbox-border-color: rgb(70, 70, 70);
    --bg-txtbox-color-focused: rgb(60, 60, 60);
    --txtbox-border-color-focused: rgb(80, 80, 80);

    
}

:root[data-theme="sunset"] {
    --bg-image: url("/static/img/wallpapers/nature_china.jpg");

    --bg-color: linear-gradient(rgb(255, 140, 0), rgb(255, 94, 98));
    --bg-secondary-color: rgba(255, 200, 150, 0.3);
    --bg-border-color: rgb(255, 120, 80);
    --text-color: rgb(255, 255, 255);
    --text-color-faded: rgba(255, 255, 255, 0.6);

    --shadow-color-04: rgba(0, 0, 0, 0.5);
    --shadow-color-02: rgba(0, 0, 0, 0.3);

    --transparent: rgba(0, 0, 0, 0);

    --button-disabled: #c97b5a;
    --button-disabled-hover: #e08a66;
    --button-disabled-active: #a65a3a;

    --button-border-color: rgb(255, 150, 100);
    --button-border-color-hover: rgb(255, 180, 130);

    --button-primary-color: rgb(255, 120, 80);
    --button-primary-color-hover: rgb(255, 150, 100);

    --navbar-gradient: linear-gradient(rgba(255, 140, 0, 0.6) 80%, rgba(0, 0, 0, 0) 90%);
    --paginator-gradient: linear-gradient(rgba(0, 0, 0, 0), rgb(255, 94, 98));

    --bg-txtbox-color: rgb(255, 230, 200);
    --txtbox-border-color: rgb(255, 180, 140);
    --bg-txtbox-color-focused: rgb(255, 240, 220);
    --txtbox-border-color-focused: rgb(255, 200, 160);
}