{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container text-white box mt-3">

    <h1>Submit a Question?</h1>

    <p>Found a Bug? an issue on your end? Let us know.</p>

    <form action="" method="POST">
        {% csrf_token %}

        {% if status_message %}
            <p>You were succesfull</p>
        {% endif %}

        <input type="text" name="question" id="" required>
        <br>
        <textarea type="text" name="desc" id=""></textarea required>
        <br>
        <button class="box-button text-white" type="submit">Submit</button>
    </form>

</div>


<div class="container text-white box mt-3">
    {% if FAQs.data.list %}
        <div class="d-flex">
                {% for Q in FAQs%}
                    <div class="box">
                        Q.asked_question
                        <p>Q.answer</p>
                        <small>Q.created_date</small>
                    </div>
                {% endfor%}
        </div>
    {% else %}
        <div class="box text-white">
            There seems to be no Questions
        </div>
    {% endif %}
</div>

{% include 'footer.html' %}

{% endblock %}