{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container text-white box mt-3">

    <h1>Create a FAQ</h1>

    <p>Found a Bug? an issue on your end? Let us know.</p>

    <form action="" method="POST">
        {% csrf_token %}

        <input type="question" name="title" id="" required>
        <br>
        <textarea name="desc" id="" required></textarea>
        <br>
        <button class="box-button text-white" type="submit">Submit</button>
    </form>

</div>

<!-- List submissions on the side -->

<div class="container text-white box mt-3">
    {% if FAQSs %}
        <div class="d-flex">
            {% for S in FAQSs%}
                <div class="box-inset">
                    <h3>{{S.question}}</h3>
                    <p>{{S.desc}}</p>
                    <small>{{S.anon.ip_addr}}</small>
                    <small>{{S.created_date}}</small>
                </div>
            {% endfor%}
    </div>
    {% else %}
        <div class="box text-white">
            There seems to be no Submissions
        </div>
    {% endif %}
</div>

{% include 'footer.html' %}

{% endblock %}