{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eko</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet"> <!-- Quicksand Font -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>

<style>
    :root[data-theme="default"]{
    /* Icons */

    /* Arrows  */
    --keyboard-arrow-right: url("{% static 'img/arrows/keyboard_arrow_right.svg' %}");
    --keyboard-double-arrow-right: url("{% static 'img/arrows/keyboard_double_arrow_right.svg' %}");

    --keyboard-arrow-left: url("{% static 'img/arrows/keyboard_arrow_left.svg' %}");
    --keyboard-double-arrow-left: url("{% static 'img/arrows/keyboard_double_arrow_left.svg' %}");
    }
</style>

<body>

    {% include "header.html"%}

    {% block body %}
    
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> 
    <script src="{% static 'js/ws_status.js' %}"></script>
</body>
</html>