{% load static %}

{% block body %}
<div class="container mt-3 p-0"> 
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start box"> 

        <a href="https://github.com/zekaekop/Portfolio" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img style="max-height: 50px;" src="{% static '/img/brands/GitHub_Invertocat_White_Clearspace.svg'%}" alt="Github Icon">
        </a> 

        {% include 'navbar.html' %}

        <!-- <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search"> -->

    </div> 
</div>
{% endblock %}