{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container d-flex flex-column p-0">
    <div class="container text-white box">
        <div class="row justify-content-center">

            <h1>Hello 
                {% if request.user.is_authenticated %}
                    {{ request.user }}
                {% else %}
                    Anon<!-- Instead of saying AnonymousUser, its just shortened -->
                {% endif %}
            </h1>

            <p>This is the admin panel</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi adipisci voluptates repellendus optio possimus saepe nihil ab aliquam modi odio cum quisquam, at ducimus? Quisquam ad impedit delectus tempore obcaecati.</p>

        </div>
    </div>

    {% include 'admin_panel/admin_navbar.html' %}

    <div class="container text-white box table-responsive">
        <table class="table">
            <thead>
                <tr>
                    {% if type == "projects" %}
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Image</th> <!-- img icon with a link that leads to the full res img -->
                        <th>Uploaded Date</th>
                    {% elif type == "users" %}
                        <th>ID</th>
                        <th>IpAddr</th>
                        <th>Username</th>
                        <th>Description</th> <!-- This will be like notes the mods can place on the users actions -->
                        <th>Last Seen</th> <!-- last time since connection was made with the server -->
                        <th>Account Created Date</th>
                    {% elif type == "tags" %}
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created By</th>
                        <th>Used Count</th>
                    {% elif type == "moderators" %}
                        <th>ID</th>
                        <th>IpAddr</th>
                        <th>Username</th>
                        <th>Description</th> <!-- This will be like notes the mods can place on the users actions -->
                        <th>Last Seen</th> <!-- last time since connection was made with the server -->
                        <th>Account Created Date</th>
                    {% endif%}

                    {% if type == "moderators" %}
                        <th>ID</th>
                        <th>IpAddr</th>
                        <th>Username</th>
                        <th>Description</th> <!-- This will be like notes the mods can place on the users actions -->
                        <th>Last Seen</th> <!-- last time since connection was made with the server -->
                        <th>Account Created Date</th>
                    {% endif%}
                </tr>
            </thead>

            <tbody>

                {% for data in datas %}

                {% if data.ipaddr == "127.0.0.1" %} <!-- localhost -->
                    <tr>You are disconnected from the site</tr>
                {% endif %}

                <tr>
                    {% if type == "projects" %}
                        <td>{{data.id}}</td>
                        <td>{{data.title}}</td>
                        <td>{{data.desc}}</td>
                        <td>{{data.img}}</td>
                        <td>{{data.uploaded_date}}</td>
                    {% elif type == "users" %}
                        <td>{{data.id}}</td>
                        <td>{{data.ip_addr}}</td>
                        <td>{{data.username}}</td>
                        <td>{{data.desc}}</td>
                        <td>{{data.last_seen}}</td>
                        <td>{{data.account_created_date}}</td>
                    {% elif type == "moderators" %}
                        <td>{{data.id}}</td>
                        <td>{{data.ipaddr}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.desc}}</td>
                        <td>{{data.last_seen}}</td>
                        <td>{{data.created_date}}</td>
                    {% else %} <!-- tags -->
                        <td>{{data.id}}</td>
                        <td>{{data.title}}</td>
                        <td>{{data.desc}}</td>
                        <td>{{data.img}}</td>
                        <td>{{data.uploaded_date}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>

{% include 'footer.html' %}

{% endblock %}