{% extends 'base.html' %}
{% load static %}

{% block body %}

{% if request.user.is_superuser %}
    {% include 'FAQ/FAQ_navbar.html' %}
{% endif %}

<div class=" container d-flex p-0 mt-3">   
        <div class="container text-white box">
            <h1>Submit a Question?</h1>

            <p>Found a Bug? an issue on your end? Let us know.</p>

            <form action="" method="POST">
                {% csrf_token %}

                {% if status_message %}
                    <p>You were succesfull</p>
                {% endif %}

                <input type="text" class="form-control" name="question" id="" required>
                <br>
                <textarea type="text" class="form-control" name="desc" id="" required></textarea>
                <br>
                <button class="btn btn-primary text-white" type="submit">Submit</button>
            </form>

            {% if request.user.is_superuser == False%}
                <hr>
                {% include 'FAQ/guidelines.html' %}
            {% endif %}

        </div>
</div>
    
<div class="container d-flex p-0">
    <div class="container text-white box mt-3">

        <h1>Frequently Asked Questions</h1>
        <!-- Lists current FAQ questions -->
        {% if FAQs %}
            <div class="d-flex flex-row overflow-auto" style="gap: 1rem;"> <!-- Added horizontal scroll -->
                    {% for Q in FAQs%}
                        <div class="box" style="min-width: 300px; flex: 0 0 auto;"> <!-- Fixed width cards -->
                            {{Q.question}}
                            <p>{{Q.answer}}</p>
                            <small>{{Q.created_date}}</small>
                        </div>
                    {% endfor%}
            </div>
        {% else %}
            <div class="box text-white">
                There seems to be no Questions
            </div>
        {% endif %}

        {% with datas=FAQs %}
            {% include 'paginator.html' %}
        {% endwith%}
        
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}