{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container d-flex p-0">
    <div class="container text-white box">
        <div class="row justify-content-center">

            <div class="container">
                <h1>Hello 
                    {% if request.user.is_authenticated %}
                        {{ request.user }}
                    {% else %}
                        Anon<!-- Instead of saying AnonymousUser, its just shortened -->
                    {% endif %}
                </h1>

                <p>This is lorem</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi adipisci voluptates repellendus optio possimus saepe nihil ab aliquam modi odio cum quisquam, at ducimus? Quisquam ad impedit delectus tempore obcaecati.</p>

            </div>

            <hr>

            <div class="container">
                <div class="row g-4">
                    <!-- The Django Project -->
                    <div class="col-md-4 mb-1">
                        <a href="https://github.com/zekaekop/The-Django-Project"></a>
                        <div class="box-inset h-100">

                            <svg width="0" height="0">
                                <mask id="boxMask">
                                    <rect width="100" height="100" fill="white" rx="8"/>
                                </mask>
                            </svg>

                            <img src="{% static '/img/projects/the_django_project_1.png'%}" class="card-img-top img-fluid" alt="The Django Project Feed Image">
                                <!-- Title -->
                                <p>The Django project</p>
                                <!-- Description -->
                                <p>A social media website created with <a href="django">django</a>.</p>
                        </div>
                    </div>
                    
                    <!-- Python RPG -->
                    <div class="col-md-4 mb-1">
                        <a href="https://github.com/zekaekop/Python-RPG"></a>
                        <div class="box-inset h-100">
                            <img src="{% static '/img/projects/python_rpg.png'%}" class="card-img-top img-fluid" alt="Python RPG Code image">
                                <!-- Title -->
                                <p>Python RPG</p>
                                <!-- Description -->
                                <p>A turn based <a href="https://en.wikipedia.org/wiki/Command-line_interface">CLI</a> game Role Playing Game where you fight againsts enemies.</p>
                        </div>
                    </div>
                    
                    <!--  Sand Sim -->
                    <div class="col-md-4 mb-1">
                        <div class="box-inset h-100">
                            <img src="{% static '/img/projects/lua_sand.png'%}" class="card-img-top img-fluid" alt="Lua Sand Simulation Gameplay Image">
                                <!-- Title -->
                                <p>Lua Sand Simulation</p>
                                <!-- Description -->
                                <p>A Sand Simulation created with <a href="https://love2d.org/">Love2D</a> and <a href="https://lua.org/">Lua</a></p>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- Tags -->
                <div class="col-12 col-lg-10 box-inset w-100">
                    <div class="d-flex justify-content-center flex-wrap">
                        {% if tags %}
                            {% for tag in tags %}
                                {% include 'home/tags.html' %}
                            {% endfor %}
                        {% else %}
                            <p class="text-center mb-0">Tag list of the languages I know</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <!-- Show more Projects -->
                    <div class="container d-flex justify-content-center"> 
                        <button class="btn btn-primary">Show more?</button>
                    </div>
                </div>

            </div>

            <!-- Honestly forgot what i was gonna do with the image wall, soo i will remove it for now.... -->

            <!-- {% if images %}
                <div class="d-flex justify-content-center">
                    {% for image in images %}

                        Image wall here
                        <img src="{% static '/img/img_wall/{image}' %}" alt="img-wall">
                        
                    {% endfor %}
                </div>
            {% endif %} -->

        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}