{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eko</title>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet"> <!-- Quicksand Font -->
</head>

<style>

/* :root{
    This works
    --bg-image: url("{% static '/img/example.png' %}");  
} */

</style>

<body>

    {% include "header.html"%}

    {% block body %}
    
    {% endblock %}
    
</body>
</html>