{% load static %}

<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"> 
    <li><a href="/" class="nav-link px-2 text-white">Home</a></li>

    {% if request.user == request.user.is_superuser%}
        <li><a href="{# url 'admin_panel'#}" class="nav-link px-2 text-white">Admin panel</a></li>
    {% endif %}

    <li><a href="{# url 'chat' #}" class="nav-link px-2 text-white">Chat</a></li> 
    <li><a href="{# url 'features' #}" class="nav-link px-2 text-white">Features</a></li> 
    <li><a href="{# url 'faq' #}" class="nav-link px-2 text-white">FAQs</a></li> 
    <li><a href="{% url 'feedback:report' %}" class="nav-link px-2 text-white">Feedback</a></li> 
    <li><a href="{# url 'about' #}" class="nav-link px-2 text-white">About</a></li> 
    <li><a href="{# url 'about' #}" class="nav-link px-2 text-white">{{ip_addr}}</a></li> 

</ul>