{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container text-white box mt-3">

    <h1>Report an Issue</h1>

    <p>Found a Bug? an issue on your end? Let us know.</p>

    <form action="" method="POST">
        {% csrf_token %}

        <input type="text" name="title" id="" required>
        <br>
        <textarea name="desc" id=""></textarea required>
        <br>
        <button class="box-button text-white" type="submit">Submit</button>
    </form>

</div>

{% include 'footer.html' %}

{% endblock %}